/* Add your responsive styles here */

@media (max-width: 1199px) {

    /* Bootstrap DateTimepicker */
    .custom-datetime .bootstrap-datetimepicker-widget.dropdown-menu {
        padding: 8px 6px;
    }

    .custom-datetime .bootstrap-datetimepicker-widget table th.dow {
        padding: 6px 0 0px;
    }

    .custom-datetime .bootstrap-datetimepicker-widget table td.day {
        font-size: 13px;
    }

    .bootstrap-datetimepicker-widget .datepicker-decades .decade {
        font-size: 13px;
    }

    /* range date-picker */
    .custom-datetime .bootstrap-datetimepicker-widget table td.range-start:after,
    .custom-datetime .bootstrap-datetimepicker-widget table td.range-between:after,
    .custom-datetime .bootstrap-datetimepicker-widget table td.range-end:after {
        top: 3px;
        bottom: 3px;
    }

    /* end */
}

@media (max-width: 992px) {

    /* Bootstrap DateTimepicker */
    .custom-datetime .timepicker .btn {
        border-radius: 8px;
    }

    .custom-datetime .timepicker td.minute {
        font-size: 14px;
    }

    .custom-datetime .bootstrap-datetimepicker-widget.dropdown-menu {
        width: 17em;
    }

    .custom-datetime .bootstrap-datetimepicker-widget table th.dow {
        min-width: 36px;
    }

    .custom-datetime .bootstrap-datetimepicker-widget table td.day {
        height: 36px;
        width: 36px;
    }

    .bootstrap-datetimepicker-widget table td span {
        height: 30px;
        line-height: 28px;
    }

    .bootstrap-datetimepicker-widget .datepicker-decades .decade {
        font-size: 12px;
        min-width: 80px;
        padding: 6px 4px;
    }

    .custom-datetime .bootstrap-datetimepicker-widget table th.prev {
        margin-right: 4px;
    }

    .custom-datetime .bootstrap-datetimepicker-widget table th.next {
        margin-left: 4px;
    }

    /* range date-picker */
    .range-date-box {
        padding: 6px 8px;
        border-radius: 6px;
    }

    .range-clear-btn {
        width: 28px;
        height: 28px;
        margin-left: 10px;
    }

    /* end */
    .select2-selection--multiple::after {
        right: 14px;
        top: 14px;
        width: 14px;
        height: 14px;
    }

    /* canvas chart */
    .piechart-main {
        padding: 40px 16px;
    }

    .order-chart-main .tooltip {
        display: none;
    }

    .order-chart-main canvas {
        max-width: 320px;
        max-height: 320px;
    }

    .order-chart-main .center-value {
        font-size: 35px;
    }

    .order-chart-main .center-label {
        font-size: 12px;
    }

    .order-chart-main .breakdown li {
        padding: 8px 0;
    }

    .order-chart-main .legend-title {
        font-size: 18px;
    }

    /* end */
    .range-input {
        height: 6px;
    }

    .range-input::-moz-range-thumb {
        height: 16px;
        width: 16px;
    }

    .range-input::-webkit-slider-thumb {
        height: 16px;
        width: 16px;
    }

    .sliderticks {
        padding: 4px 10px 0;
    }

    .sliderticks span {
        height: 6px;
        line-height: 30px;
        font-size: 12px;
    }

    .total-value {
        padding: 0 20px;
        min-width: 90px;
    }

    .switch-toggle-label {
        font-size: 15px;
        padding: 12px 14px;
    }

    .select2-container--default .select2-results>.select2-results__options {
        box-shadow: 1px 1px 8px 4px #D8DADC;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        padding: 6px 8px;
        font-size: 12px;
    }

    .select2-results__option--selectable {
        padding: 8px 12px;
    }

    .select2-container .select2-selection--multiple .select2-selection__rendered {
        gap: 4px 4px;
    }

    .select2-container--default .select2-selection--multiple.select2-selection--clearable {
        padding-right: 36px;
    }

    .select2-container .select2-search--inline .select2-search__field {
        font-size: 14px;
    }

    .form-control.border::placeholder,
    .input-group-text {
        font-size: 14px;
    }

    .form-control.border,
    .select2-container .select2-selection--multiple {
        padding: 12px 14px;
        font-size: 14px;
    }

    .form-container {
        max-width: 100%;
        padding: 20px 30px;
    }

    .option-item {
        gap: 8px;
    }

    .checkmark {
        width: 18px;
        height: 18px;
    }

    .checkmark::after {
        font-size: 10px;
        display: block;
        padding: 2px;
    }

    .radiobtn::after {
        width: 10px;
        height: 10px;
    }

    .radiobtn {
        width: 18px;
        height: 18px;
    }

    .upload-box .file-upload-icon {
        width: 44px;
    }

    .upload-box p {
        font-size: 14px;
    }

    .btn {
        padding: 15px 20px;
    }

    .form-control.border.datepicker {
        background-size: 15px;
        background-position: right 14px center;
        padding-right: 35px;
    }

    .tag-group {
        gap: 6px;
    }

    .tag {
        font-size: 12px;
    }

    .tag-icon {
        width: 20px;
        height: 20px;
    }

    .arrow-input-wrap::after {
        width: 14px;
        height: 14px;
    }

    .toggle-card {
        padding: 12px 14px;
    }
}

@media (max-width: 575px) {

    /* Bootstrap DateTimepicker */
    .custom-datetime .custom_time_pickr+.bootstrap-datetimepicker-widget.dropdown-menu {
        width: 10em;
    }

    .custom-datetime .timepicker td.separator {
        min-width: 2px !important;
    }

    .custom-datetime .timepicker td {
        min-width: 40px;
    }

    .custom-datetime .timepicker .btn.btn-primary {
        font-size: 14px;
        margin: 0 auto;
    }

    .custom-datetime .bootstrap-datetimepicker-widget.dropdown-menu {
        width: 16em;
    }

    .custom-datetime .bootstrap-datetimepicker-widget table th.dow {
        min-width: 34px;
    }

    .custom-datetime .bootstrap-datetimepicker-widget table td.day {
        height: 34px;
        width: 34px;
    }

    .bootstrap-datetimepicker-widget .datepicker-decades .decade {
        min-width: 76px;
    }

    /* range date-picker */
    .range-label {
        font-size: 10px;
    }

    .range-value {
        font-size: 11px;
    }

    /* end */

    /* canvas chart */
    .order-chart-main canvas {
        max-width: 300px;
        max-height: 300px;
    }

    .order-chart-main .status-dot {
        width: 6px;
        height: 6px;
    }

    .order-chart-main .status-info {
        gap: 8px;
    }

    .order-chart-main .legend-section {
        padding: 0;
    }

    /* end */


    /* Double range slider */
    .double-range-wrap.range-slider {
        height: 25px;
    }

    .value-selected-range {
        font-size: 13px;
        gap: 6px;
    }

    .value-selected-range .marktext {
        font-size: 13px;
        padding: 4px 8px;
    }

    .vals-row p {
        font-size: 13px;
    }

    .vals-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        padding: 8px 10px;
        background-color: #FBEDE5;
        border-radius: 10px;
    }

    /* end */
    /* single range slider */
    .total-value {
        display: flex;
        padding: 10px 14px;
        min-width: auto;
        text-align: start;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: #fff;
        margin-bottom: 10px;
        border-radius: 10px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }

    .total-value p {
        margin-bottom: 0 !important;
        padding-right: 14px;
    }

    .input-range-slider {
        flex-direction: column-reverse;
        align-items: start;
        padding-bottom: 20px;
    }

    .range-slider {
        width: 100%;
    }

    .range-input::-moz-range-thumb {
        height: 14px;
        width: 14px;
    }

    .range-input::-webkit-slider-thumb {
        height: 14px;
        width: 14px;
    }

    /* end */
    .flatpickr-calendar {
        margin: 0 auto;
        right: 0 !important;
        left: 0 !important;
    }

    span.flatpickr-weekday {
        font-size: 12px;
    }

    .flatpickr-day {
        width: 34px;
        max-width: 34px;
        height: 34px;
        line-height: 34px;
        font-size: 12px;
    }

    .dayContainer {
        padding: 0 6px;
        gap: 2px;
    }

    .flatpickr-months {
        padding: 6px 6px 0;
    }

    .flatpickr-weekdays {
        padding: 10px 6px 6px;
    }

    .flatpickr-months .flatpickr-prev-month,
    .flatpickr-months .flatpickr-next-month {
        top: 7px;
        width: 32px;
        height: 32px;
        margin: 0 6px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .toggle-card .checkbox:checked+.toggleslide::after {
        transform: translate(17px, -50%);
        -webkit-transform: translate(17px, -50%);
        -moz-transform: translate(17px, -50%);
        -ms-transform: translate(17px, -50%);
        -o-transform: translate(17px, -50%);
    }

    .toggle-content {
        gap: 8px;
    }

    .toggle-card .toggleslide {
        width: 44px;
        height: 26px;
    }

    .toggle-card .toggleslide::after {
        width: 20px;
        height: 20px;
    }

    .text-content p {
        font-size: 12px;
    }

    .text-content .subtitle {
        font-size: 14px;
    }

    .form-body {
        padding: 30px 10px;
    }

    .form-container {
        padding: 20px 16px;
    }

    .form-header {
        padding: 16px 16px;
    }

    .radio-field-wrap {
        padding: 8px 0;
    }

    .form-control.border {
        padding: 10px 14px;
        border-radius: 10px;
    }

    .btn {
        border-radius: 10px;
    }

    .upload-box {
        padding: 12px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }

    .upload-box .file-upload-icon {
        width: 40px;
    }
}